<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/main.css" />
    <link rel="stylesheet" href="../../public/css/reset.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="navLeft">
          <img class="navLogo" src="../../public/assets/imgs/logo.png" alt="" />
          <h1>Just Do IT</h1>
        </div>

        <div class="navRight">
          <ul>
            <li><a href="#">Logout</a></li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section class="sideBar">
        <div class="sideBarTitle">Categories</div>
        <a class="active" href="#">Default</a><a href="#">Household</a>
      </section>
      <section class="mainContents">
        <h2>We've got things to do!</h2>
        <div class="giveInput">
          <input type="text" />
          <button>Submit</button>
        </div>
        <div class="reminders">
          <button>Done</button>
          <p>Working for programming 3</p>
          <button>Delete</button>
          <button>Edit</button>
        </div>
        <div class="reminders">
          <button>Done</button>
          <p>Chatting with other students</p>
          <button>Delete</button>
          <button>Edit</button>
        </div>
        <h3>Things you've done</h3>
        <div class="finishedReminders">
          <p>Doing homework</p>
          <button>Delete</button>
        </div>
      </section>
    </main>
  </body>
</html>
