<header>
  <nav>
    <div class="navLeft">
      <img class="navLogo" src="assets/imgs/logo.png" alt="" />
      <h1>Just Do IT</h1>
    </div>

    <div class="navRight">
      <ul>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>