<section class="sideBar">
  <div class="sideBarTitle">Categories</div>
  {{#each sideNavData}}
    <a {{#ifEquals ../currentUrl url}} class="active" {{/ifEquals}} href="{{url}}">{{name}}</a>
  {{/each}}
</section>